.body{
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  min-height: 300px;
}
.title{
  font-size: 1.7em;
  padding: 15px 0px;
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 15px;
}
@media screen and (max-width: 400px) {
  .title{
    font-size: 1.3em;
    text-align: center;
  }
}
.preloader_bar{
  background: #f0f0f0;
  height: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}
